@model TestAppBrightSoft.Models.Home.MetadetaModel
@{
    ViewData["Title"] = "Мета-данные справочников";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Мета-дата справочников</h1>
            <a class="btn btn-success" href="@Url.RouteUrl("Default", new {controller = "Home", action = "Index" })">Назад к данным</a>
            <a class="btn btn-warning toReport disabled" href="#">Сформировать отчёт</a>
            <p>(Хотел сделать формирование отчёта отсюда, но не учёл, что сервис для отчётов нужно создать отдельным приложением. Так что там json задаётся прямо в контроллере)</p>
            @foreach (var tab in Model.tableMetadatas.Where(x => x.TableName != "directoryObjectVersions"))
            {
                <h3>@tab.TableName</h3>
                <select class="tabledirection form-control" data-Selecttable="@tab.TableName">
                    <option value="strings">Это строки</option>
                    <option value="columns" selected="@(tab.TableName == "ObjectVersions")">Это столбцы </option>
                </select>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Атрибут</th>
                            <th>Тип данных</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var col in tab.ColumnDatas)
                        {
                            <tr>
                                <td data-table="@tab.TableName">@col.Name</td>
                                <td data-table="@tab.TableName">@col.DataType</td>
                                <td>
                                    @if (col.Name != "Id")
                                    {
                                        <input class="chk" data-table="@tab.TableName" data-name="@col.Name" type="checkbox" checked title="Вывести в отчёт" />
                                    }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

